<!DOCTYPE html>
<html>

<head>
    <title>CloudPT</title>
</head>

<body>
    <h1>There will be something here better here soon.... Hopefully.</h1>

    <h1>CloudPT</h1>

    <form action="/login" method="POST">
        <h3>Please enter your login details:</h3>
        
        <div>
            <input type="email" class="" id="email" name="email" placeholder="Email Address" required>
        </div>
        <div>
            <input type="password" class="" id="password" name="password" placeholder="Password" required>
        </div>

        <div>
            <button type="submit" class="loginButton">Login</button>
        </div>
    
    </form> 

</body>

</html>