<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>CloudPT</title>
</head>

<body>
    <h1>There will be something here better here soon.... Hopefully.</h1>
    <h1>CloudPT</h1>
    <form action="/login" method="POST">
        <h3>Please enter your login details:</h3>
        <% if (messages.error) { %>
            <h3 style="color: darkred; font-size: 15px;"><%= messages.error %></h3>
            <% } %>
            <input type="email" class="" id="email" name="email" placeholder="Email Address" required>
        </div>  
        <div>
            <input type="password" class="" id="password" name="password" placeholder="Password" required>
        </div>
        <div>
            <button type="submit" class="loginButton">Login</button>
        </div>
        <div>
            <a href="/register" class="">Don't have an account? Click here to register!</a>
        </div>
    </form>
    
</body>
</html>