.App {
  text-align: center;
}

.appTitle {
  color: rgb(53, 141, 58);
  border-radius: 10px;
  background-color: rgba(138, 138, 138, 0.747);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.appTitle img{
  float: left;
}

.modal-info {
  text-align: center;
  font-size: 30px;
}

.btn{
  height: 60px;
  width: 100%;
  margin: auto;

}

.modal-dialog .btn{
  height: auto;
  width: auto;
}

h6 {
  color: white;
  text-align: center;
  padding: 5px;
}

h5 {
  color: white;
  border-radius: 5px;
  background-color: rgba(26, 26, 26, 0.418);
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

h3 {
  color: white;
  font-size: 26px;
  text-align: center;
}

.mat-ripple-element {
  display: none;
}

.bubbleCard{
  padding: 5px;
  background-color: rgba(138, 138, 138, 0.747);
  border-radius: 10px;
}

.homeBackground{
  background-color: rgba(138, 138, 138, 0.747);
  border-radius: 5px;
  padding: 10px;
}

.homepageInfo{
  background-color: rgba(255, 255, 255, 0.829);
}

section {
  height: 60vh;
  width: 100%;
}

.scroll-down-info{
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -170px;
  display: block;
  width: 350px;
  height: 32px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}





/* Background Video (Login and register pages) */

.fullscreen-bg__video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  filter: grayscale(100%) blur(5px);
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.weightList{
  overflow: scroll;
  border-radius: 5px;
  background: rgba(209, 209, 209, 0.68);
}


/* Slider for weight and height */

.ruler{
  position: fixed;
  overflow: hidden;
  position: relative;
}


/* MESSAGE CSS */

html, body{height: 100%}

.currentUser {
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
  text-align: right;
}

.notCurrentUser{
  display: flex;
  margin-top: 10px;
  text-align: left;
}

.notCurrentUser .text{
  color: black;
  background-color: lightgrey;  
}

.messageContent {
  display: inline-block;
}

.currentUser > .messageContent {
  align-items: flex-end;
}

.username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.text {
  padding: 10px 10px 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
  overflow: hidden;
  overflow-wrap: break-word;
}

.chatInputForm{
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
}

.chatInput{
  position: fixed;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  width: 93%;
  border: 1px solid lightgreen;
  bottom: 10%;
  z-index: 100;
  background-color: white;
  overflow:hidden;
}

.sendButton{
  padding: 5px 10px;
  font-size: 16px;
  background-color: lightgreen;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

.chatHide{
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 0;
  bottom: 0;
  background-color: white;
}