.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ruler{
  position: fixed;
  overflow: hidden;
  position: relative;

 

}

.fullscreen-bg__video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  filter: grayscale(100%) blur(5px);
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px){
  .weightList{
    height: 40vh;
    overflow: auto;
  }
}





/* MESSAGE CSS */

html, body{height: 100%}

.messageList {
  
  bottom: 0;
  top: 0;
  width: 90%;
  height: 86%;
  overflow: auto;

}

.currentUser {
  /*justify-content: flex-end;*/
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
  text-align: right;
}

.messageContent {
  display: inline-block;

}

.currentUser > .messageContent {
  align-items: flex-end;
}

.username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.text {
  padding: 10px 10px 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
  overflow: hidden;
  overflow-wrap: break-word;
}

.currentUser > .text {
  background-color: orangered;
}

.chatInputForm{
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
}

.chatInput{
  position: fixed;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  width: 93%;
  border: 1px solid lightgreen;
  bottom: 10%;
  z-index: 100;
  background-color: white;
  overflow:hidden;
}

.sendButton{
  padding: 5px 10px;
  font-size: 16px;
  background-color: lightgreen;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

.chatHide{
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 0;
  bottom: 0;
  background-color: white;
}